<!doctype html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="">
    <title>{{ shop.name }}</title>
    <!-- bootstrap core css -->
    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
    <!-- font awesome style -->
    {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
    <!-- Custom styles for this template -->
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <!-- responsive style -->
    {{ 'resposive' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      {% section 'header' %}
      <!-- end header section -->

      {{ content_for_layout }}
      {% section 'information' %}

      <!-- slider section -->
      <!-- end slider section -->
    </div>
    <!-- why section -->

    <!-- end why section -->

    <!-- arrival section -->
    <section class="arrival_section">
      <div class="container">
        <div class="box">
          <div class="arrival_bg_box">
            <img src="images/arrival-bg.png" alt="">
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto">
              <div class="heading_container remove_line_bt">
                <h2>#NewArrivals</h2>
              </div>
              <p style="margin-top: 20px;margin-bottom: 30px;">
                Vitae fugiat laboriosam officia perferendis provident aliquid voluptatibus dolorem, fugit ullam sit
                earum id eaque nisi hic? Tenetur commodi, nisi rem vel, ea eaque ab ipsa, autem similique ex unde!
              </p>
              <a href=""> Shop Now </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end arrival section -->

    <!-- product section -->
    <section class="product_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Our <span>products</span></h2>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Men's Shirt </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Men's Shirt</h5>
                <h6>$75</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Men's Shirt</h5>
                <h6>$80</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Women's Dress</h5>
                <h6>$68</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Women's Dress</h5>
                <h6>$70</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p5.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Women's Dress</h5>
                <h6>$75</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p6.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Women's Dress</h5>
                <h6>$58</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p7.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Women's Dress</h5>
                <h6>$80</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p8.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Men's Shirt</h5>
                <h6>$65</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p9.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Men's Shirt</h5>
                <h6>$65</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p10.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Men's Shirt</h5>
                <h6>$65</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p11.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Men's Shirt</h5>
                <h6>$65</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
              <div class="option_container">
                <div class="options">
                  <a href="" class="option1"> Add To Cart </a>
                  <a href="" class="option2"> Buy Now </a>
                </div>
              </div>
              <div class="img-box">
                <img src="images/p12.png" alt="">
              </div>
              <div class="detail-box">
                <h5>Women's Dress</h5>
                <h6>$65</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href=""> View All products </a>
        </div>
      </div>
    </section>
    <!-- end product section -->

    <!-- subscribe section -->
    <section class="subscribe_section">
      <div class="container-fuild">
        <div class="box">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="subscribe_form ">
                <div class="heading_container heading_center">
                  <h3>Subscribe To Get Discount Offers</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                <form action="">
                  <input type="email" placeholder="Enter your email">
                  <button>subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end subscribe section -->
    <!-- client section -->
    <section class="client_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Customer's Testimonial</h2>
        </div>
        <div id="carouselExample3Controls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="box col-lg-10 mx-auto">
                <div class="img_container">
                  <div class="img-box">
                    <div class="img_box-inner">
                      <img src="images/client.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="detail-box">
                  <h5>Anna Trevor</h5>
                  <h6>Customer</h6>
                  <p>
                    Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis
                    reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad labore
                    modi voluptatibus accusantium sapiente nam! Quaerat.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box col-lg-10 mx-auto">
                <div class="img_container">
                  <div class="img-box">
                    <div class="img_box-inner">
                      <img src="images/client.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="detail-box">
                  <h5>Anna Trevor</h5>
                  <h6>Customer</h6>
                  <p>
                    Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis
                    reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad labore
                    modi voluptatibus accusantium sapiente nam! Quaerat.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box col-lg-10 mx-auto">
                <div class="img_container">
                  <div class="img-box">
                    <div class="img_box-inner">
                      <img src="images/client.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="detail-box">
                  <h5>Anna Trevor</h5>
                  <h6>Customer</h6>
                  <p>
                    Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis
                    reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad labore
                    modi voluptatibus accusantium sapiente nam! Quaerat.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel_btn_box">
            <a class="carousel-control-prev" href="#carouselExample3Controls" role="button" data-slide="prev">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample3Controls" role="button" data-slide="next">
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- end client section -->
    <!-- footer start -->
    {% section 'footer' %}
    <!-- jQery -->
    {{ 'jquery-3.4.1.min.js' | asset_url | script_tag }}
    <!-- popper js -->
    {{ 'popper.min.js' | asset_url | script_tag }}
    <!-- bootstrap js -->
    {{ 'bootstrap.js' | asset_url | script_tag }}
    <!-- custom js -->
    {{ 'custom.js' | asset_url | script_tag }}
  </body>
</html>
