<!-- product section -->
<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>{{ section.settings.heading }}</h2>
    </div>
    <div class="row">
      {% for product in section.settings.fp.products %}
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a href="" class="option1"> Add To Cart </a>
                <a href="{{ product.url }}" class="option2"> Buy Now </a>
              </div>
            </div>
            <div class="img-box">
              <img src="{{ product.featured_image | img_url: 'medium' }}" height="80%" alt="">
            </div>
            <div class="detail-box">
              <h5>{{ product.title }}</h5>
              <h6>{{ product.price | money }}</h6>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="btn-box">
      <a href="{{ section.settings.fp.url }}"> View All products </a>
    </div>
  </div>
</section>
<!-- end product section -->

{% schema %}
{
  "name": "Featured Product - Custom",
  "settings": [
    {
      "type": "header",
      "content": "Featured Products"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Add your heading"
    },
    {
      "type": "collection",
      "id": "fp",
      "label": "Select your collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Product - Custom"
    }
  ]
}
{% endschema %}
