<div class="blog-template p-3">
  <div class="container">
    <h1>{{ blog.title }}</h1>

    <div class="row">
      {% for article in blog.articles %}
        <div class="col-md-4 mx-auto">
          <img style="max-width:100%" src="{{ article.image | img_url: 'large' }}" alt="{{ article.title }}">
          <h3>{{ article.title }}</h3>
          <p>{{ article.content | truncate: 30 }}</p>
          <a class="btn btn-secondary" href="{{ article.url }}">Read more...</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
  ]
}
{% endschema %}
