<div class="container">
  <div class="my-5">
    {% if cart.item_count > 0 %}
      <form action="/cart" class="row" method="post" novalidate>
        <div class="col-12 col-md-8">
          <div class="card shadow">
            <div class="card-body">
              <table>
                <thead>
                  <th colspan="2">Prod</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>total</th>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                    <tr>
                      <td>
                        <a href="{{ item.url | within: collections.all }}">
                          <img src="{{ item | img_url: '120x120' }}" alt="{{ item.title | escape }}">
                        </a>
                      </td>
                      <td>
                        <a href="{{ item.url }}">{{ item.product.title }}</a><br>
                        {{ item.variant.title }}
                        <br>
                        <a class="small" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                      </td>
                      <td>{{ item.price | money }}</td>
                      <td>
                        <input
                          type="number"
                          name="updates[]"
                          id="updates_{{ item.key }}"
                          value="{{ item.quantity }}"
                          min="0"
                        >
                      </td>
                      <td>
                        {% if item.original_line_price != item.line_price -%}
                          {{- item.original_line_price | money -}}
                        {%- endif %}
                        {{ item.line_price | money }}
                        {% for discount in item.discounts -%}
                          {{- discount.title -}}
                        {%- endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h3 class="p">The Total Price is</h3>
              <p>{{ cart.total_price | money }}</p>
              <button type="submit" class="btn btn-secondary" name="update">Update</button>
              <button type="submit" class="btn btn-secondary" name="checkout">Checkout</button>
            </div>
          </div>
        </div>
      </form>

    {% else %}
      <h2>cart</h2>
      Cart is empty
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
