{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 card shadow">
      <div class="product-image">
        <img src="{{ product_image | img_url: 'large' }}" alt="{{ product_image.alt }}">
      </div>
      <div class="thumbnail">
        {% for image in product.images %}
          <img src="{{ image.src | img_url: 'small'}}" alt="{{ image.alt }}">
        {% endfor %}
      </div>
    </div>

    <div class="col-12 col-md-6 card shadow">
      <h1>{{ product.title }}</h1>
      <p>{{ current_product.price | money_with_currency }}</p>
      <p>{{ product.description }}</p>
      {% form 'product', product, class: 'product-form', id: 'AddToCart' %}
        <div class="mb-3">
          <select name="id" id="productSelect">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option value="{{ variant.id }}">{{ variant.title }}</option>
              {% else %}
                <option name="{{ variant.id }}" disabled="disabled">{{ variant.title }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <input type="number" name="quantity" id="Quantity" value="1" min="1">
        </div>
        <button type="submit" name="add" class="btn btn-primary w-100" id="AddToCart">Add to Cart</button>
        {{ form | payment_button }}
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Page",
  "settings": [
    {
      "type": "checkbox",
      "id": "buy_btn",
      "label": "Enable buy button",
      "default": false
    }
  ]
}
{% endschema %}
