{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}

{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
{% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'abbreviated_date' }}</time>{% endcapture %}

<div class="position-relative text-center bg-light p-3 p-md-5">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4">{{ article.title }}</h1>
    <p class="lead">By {{ author }} / {{ date }}</p>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <div>{{ article.content }}</div>
    </div>
    <div class="col-12 col-md-4">
      {% if blog.comments_enabled? %}
        <h2>{{ number_of_comments }} comments</h2>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="card shadow rounded-0 my-2">
              <div class="card-header">
                {{ comment.author }} @ {{ comment.created_at | date: format: 'abbreviated_date' }}
              </div>
              <div class="card-body">{{ comment.content }}</div>
            </div>
          {% endfor %}
          {% render 'pagination', paginate: paginate %}
        {% endpaginate %}

        <div class="floating-form my-3">
          {% form 'new_comment', article %}
            {{ form.errors | default_errors }}

            <input
              class="form-control"
              type="text"
              name="comment[author]"
              id="CommentAuthor"
              placeholder="name"
              value="{{ form.author }}"
              autocapitalize="words"
            >
            <label for="CommentAuthor">name</label>

            <label for="CommentEmail">email</label>
            <input
              type="email"
              name="comment[email]"
              id="CommentEmail"
              placeholder="email"
              value="{{ form.email }}"
              autocorrect="off"
              autocapitalize="off"
            >

            <label for="CommentBody">message</label>
            <textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

            <input type="submit" value="post">
          {% endform %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article Template",
  "settings": [
    {
      "type": "header",
      "content": "Article"
    }
  ]
}
{% endschema %}
