<div class="position-relative text-center bg-light p-3 p-md-5">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4">{{ blog.title }}</h1>
    <p class="lead">Read Our Latest Articles</p>
  </div>
</div>
<div class="container my-5 p-2">
  {% paginate blog.articles by 6 %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for article in blog.articles %}
        <div class="col-md-4 my-2">
          <div class="card shadow">
            {% if article.image.src != null %}
              <img class="card-img-top" src="{{ article.image.src | img_url: 'medium' }}" alt="{{ article.title }}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'card-img-top' }}
            {% endif %}
            <div class="card-body">
              <h2>{{ article.title }}</h2>
              {{ article.author }} @
              <div class="small">{{ article.created_at | date }}</div>
              <p class="card-text">{{ article.content | strip_html | truncatewords: 5 }}</p>
              <a class="btn btn-secondary" href="{{ article.url }}">Read more...</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      <nav aria-label="Page navigation" class="my-5">
        <ul class="navigation justify-content-center">
          <li class="page-item"><a href="#" class="page-link">1</a></li>
        </ul>
      </nav>
    {% endif %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
  ]
}
{% endschema %}
