<div class="blog-template p-3">
  <div class="container">
    <h1 class="display-4">{{ blog.title }}</h1>
    <p class="lead">Read Our Latest Articles</p>
    <div class="row my-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for article in blog.articles %}
        <div class="col">
          <div class="card shadow">
            {% if article.image.src != null %}
              <img style="max-width:100%" src="{{ article.image | img_url: 'large' }}" alt="{{ article.title }}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'card-img-top' }}
            {% endif %}
            <div class="card-body">
              <h2>{{ article.title }}</h2>
              {{ article.author }} @
              <div class="small">{{ article.created_at | date }}</div>
              <p>{{ article.content | truncate: 30 }}</p>
              <a class="btn btn-secondary" href="{{ article.url }}">Read more...</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
  ]
}
{% endschema %}
