<section class="slider_section ">
  {% for block in section.blocks %}
  <div class="slider_bg_box">
    <img src="{{ section.settings.slide_image | img_url: 'master' }}" alt="">
  </div>
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    {{ block.settings.heading }}
                  </h1>
                  <p>
                    {{ block.settings.paragraph }}
                  </p>
                  <div class="btn-box">
                    <a href="{{ block.settings.btn_url }}" class="btn1"> {{ block.settings.btn_text }} </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
    {% endfor %}
    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "SlideShow",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "slideshow"
    },
    {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Upload slider image"
        }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "slider",
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "label": "Type your heading"
        },
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Type your paragrah"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Type your button text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Insert your URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SlideShow",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
